.tabs{
    width: 100%;
    margin-top: 80px;
    background-color: var(--primary-bg-color-lighter);
    border-color: var(--primary-bg-color);
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--hand-drawn-border-radius);
}

.tab {
    border-width: 0px;
    padding: 10px;
    padding-top:30px;
    padding-bottom: 30px;
    margin: 0px;
    outline: none;
    width: 50%;
    color: white;
    font-weight: bold;
    background-color: var(--primary-bg-color);
    font-size: 1.3rem;
    transition: background-color .6s ease-in-out, border-image-width .8s ease-in-out;
}

.active-tab, .tab:hover {
    cursor: pointer;
    background-color: transparent;
    border-image-width:20px 20px 0px 20px;
    color: var(--primary-color);
}

.show-tab-content{
    max-height: 10000px;
    opacity: 1;
    transition: all 1s ease-in-out;
    padding: 30px;
}

.hide-tab-content {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}