.about-page{
  background-image: url(../../assets/confetti.svg);
  background-size: 70%;
  padding-bottom: 80px; 
  padding-top: 80px;
  margin-top: 100px;
  margin: 10%;
}

.testimonial {
  padding: 35px;
  display: block;
  margin: auto;
  width: 50%;
  max-width: 670px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
}

/* Clear floats after testimonials */
.testimonial::after {
  content: "";
  clear: both;
  display: table; }

.profile {
  width: 30%; }

/* Float images inside the testimonial to the left. Add a right margin, and style the image as a circle */
.testimonial img {
  float: left;
  margin-right: 20px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the testimonial */
@media (max-width: 700px) {
  .testimonial {
    text-align: center;
    width: 75%; }
  .testimonial img {
    display: block;
    margin: auto;
    float: none; } }
