.title {
  font-size: 2.3rem;
  font-family: Pacifico, cursive;
  text-align: center;
  color: #3f729b; }
  @media screen and (prefers-color-scheme: dark) {
    .title {
      color: white; } }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

.company-logo {
  display: block;
  margin: auto;
  max-width: 100px;
  max-height: 70px;
  transition: all .2s ease-in-out;
  opacity: 0.8; }
  @media screen and (prefers-color-scheme: dark) {
    .company-logo {
      opacity: 1; } }

.company-logo:hover {
  transform: scale(1.1); }

a {
  color: #FBAC16;
  text-decoration: none;
  transition: all .2s ease-in-out; }
  @media screen and (prefers-color-scheme: dark) {
    a {
      color: #FBAC16; } }

a:hover {
  font-weight: bold;
  cursor: pointer; }

.secondary-light-wave {
  fill: #abc6dd; }
  @media screen and (prefers-color-scheme: dark) {
    .secondary-light-wave {
      fill: #1a3245; } }

.svg-wave-top {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  vertical-align: bottom;
  transform-origin: bottom;
  top: 3px; }

@keyframes moving-wave {
  0%, 100% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1, 1.23); } }

.svg-wave-bottom {
  animation: moving-wave 7s ease-in-out infinite;
  position: relative;
  z-index: 0;
  animation: moving-wave 7s ease-in-out infinite;
  transform-origin: top;
  top: -3px; }

.space-under {
  margin-bottom: 40px; }

@media screen and (prefers-color-scheme: dark) {
  p {
    color: white; }
  .small-text {
    color: white; } }

::-moz-selection {
  background: #FBAC16; }

::selection {
  background: #FBAC16; }

.footer {
  width: 100%;
  background-color: var(--primary-bg-color);
  text-align: center;
  height: 350px;
  margin: 0px;
  padding-top: 150px; 
  padding-bottom: 10px;}

  @media screen and (prefers-color-scheme: dark) {
    .footer {
      background-color: var(--primary-bg-color); } }

.svg-wave {
  vertical-align: bottom; }

.primary-light-wave {
  fill: #ffebb4; }
  @media screen and (prefers-color-scheme: dark) {
    .primary-light-wave {
      fill: #1a3245; } }

.social-icon {
  font-size: 2.2rem;
  margin: 15px;
  color: white;
  transition: opacity .8s ease-in-out; }
  @media screen and (prefers-color-scheme: dark) {
    .social-icon {
      color: white;} }

.social-icon:hover {
  opacity: 0.5 }


.made-by-text {
  color: white;
  font-family: Pacifico, cursive;
  font-size: 1.5rem;
  padding-bottom: 30px; }
  @media screen and (prefers-color-scheme: dark) {
    .made-by-text {
      color: white; } }

.footer-ribbon {
  position: relative;
  top: 420px;
}
