:root {
  --primary-bg-color: #00AF66;
  --primary-bg-color-lighter: rgb(222, 247, 233);
  --primary-color: #027A57;
  --primary-color-lighter: #159662;

  --hand-drawn-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  --border-width: 15px;
}

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  color: var(--primary-color)};
  @media screen and (prefers-color-scheme: dark) {
    .title {
      color: white; } }


.App-header {
  height: 100vh;
  overflow: hidden;
  background-image: url("./assets/banner.svg");
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
}

@media (orientation: portrait) {
  .App-header {
    height: 50vh;
  }
}

.wrapping-img {
  width: 33%;
  margin-top: 40px;
  margin-bottom: 20px;
  float: left;
  min-width: 400px;
  max-width: 500px;
}

a {
  transition: opacity .8s ease-in-out; 
}

a:hover {
  opacity: 0.5;
  cursor: pointer; 
  transition: opacity .8s ease-in-out; }

a.anchor {
  display: block;
  position: relative;
  top: -67px;
  visibility: hidden; }

a {
  color:var(--primary-color);
  text-decoration: none;
  transition: all .2s ease-in-out; }
  
::-moz-selection {
  background: var(--primary-color);
}

::selection {
  background: var(--primary-color);
}

::-moz-selection {
  color: white;
}

::selection {
  color: white;
}

.page {
  margin-left: 5vw;
  margin-right: 5vw;
}

.section {
  margin-top: 50px;
  margin-bottom: 100px;
}

p {
  font-size: 1.15rem;
}

@media (max-width: 810px) {
  .wrapping-img{
    width: 70%;
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 20px;
    min-width: 100%;
  }}

@media (prefers-reduced-motion: no-preference) {
  .animation-cool {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(30, 82, 67);
  }
  :root {
  --primary-bg-color-lighter: rgb(21, 36, 32);
  --primary-color: rgb(119, 189, 169);

  --hand-drawn-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  --border-width: 15px;
  }
  .App-header {
    background-image: url("./assets/bannerdark.svg");
  }
}

