:root {
    --primary-bg-color: #8666B3;
    --primary-color: #522E84;
    --primary-color-lighter: #65498c;
    --secondary-bg-color: #e9e7ec;
    --light-bg-color: #f5f5f5;
    --light-border-color: #8c8496;
    --hand-drawn-border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    --border-width: 15px;
  }

  body {
    background-color: var(--secondary-bg-color);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body {
      color: white;
      background-color: var(--background-color);
    }
    :root {
    --primary-color-lighter: #7f738f;
    --background-color:  #322f35;
    --light-bg-color: #a09aa8;
    --light-border-color: #8c8496;
    }
  }
